# ignore clion setting files
.idea/

# vscode 
.vscode/

# cmake build file excluded
cmake-build-debug/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
nemolib
nemolib_CPP.cbp
nemolib_C___final.cbp

# temporary file delete
*.[oa]
*~
*.a
*.swp
